/* OIT colors */
/* #ffd14e : yellow */
/* #003868 : blue */
/* #ffffff : white */
/* #9fb1bb : gray */
/* #ffe290 : yellow2 */

.mage_logo{
text-align:center;
display:block;
margin:auto;
/*background-color: rgba(0, 235,239,0.3);*/
}

div.mage_background{
width:1000px;
/*background-color: #003868;*/
padding: 0px 50px 50px 50px;
background-image: url(images/bg-tile.jpg);
}

div.mage_app_header{
font-size:18px;
background-color: tan;
width: 1000px;
}

div.mage_page_wrapper{
width:1000px;
}

.mage_titlebar{
font-size:18px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
background-color: #bbbbbb;
text-align:center;


/*width:90%;*/
/*width: 1000px;*/
}

div.mage_pagename{
font-size:20px;
text-align:center;
/*
width:970px;
padding:15px;
*/
background-color:#ffd280;
background-color:#ffd14e;
}

div.mage_body{
/*
width:1000px;
*/
/*background-color: #ffff80;*/
/*    background-color:lavender;*/
    background-color:#fff6db;
    background-color:#ffffff;
    padding: 5px;
}

div.mage_nav_footer{
background-color: #bbbbbb;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
padding-left: 30px;
}

span.hdr_name{ color:purple;
font-family:courier;
}

span.hdr_marketsim{ color:purple;
font-family:courier;
}

div.page_name{
font-size:20px;
text-align:center;
width:970px;
padding:15px;
background-color:cornsilk;
}



table.cumulative_profitability {
    border-collapse:collapse;
}

table.cumulative_profitability td, table.cumulative_profitability th {
    border: 2px solid black;
	font-size: medium;
	text-align: center;
}
table.cumulative_profitability tr:nth-child(odd){background-color:lightgray;}
table.cumulative_profitability tr:nth-child(even){}
table.cumulative_profitability tr:nth-child(1){background-color:#93e2ff;}

/*
table.market_console {
    border-collapse:collapse;
}

table.market_console td, table.market_console th {
    border: 2px solid black;
	font-size: small;
	text-align: center;
}
*/

table.market_console {border-collapse:collapse;}
table.market_console td, table.dashboard th {border:2px solid black;
						  text-align:center;
						  padding : 3px;

			 			 }
table.market_console tr:nth-child(odd){background-color:lightgray;}
table.market_console tr:nth-child(even){}
table.market_console tr:nth-child(1){background-color:#93e2ff;}



table.dtseg{ border-collapse:collapse;}
table.dtseg td, table.dtseg th {
    border: 2px solid black;
	font-size: small;
	text-align: center;
}

table.userlist{ border-collapse:collapse;}
table.userlist td, table.userlist th {
    border: 2px solid black;
	font-size: small;
	text-align: center;
}


table.all_bids{
    border-collapse: collapse;
}
table.all_bids td, table.all_bids th{
    border-left: 2px solid black;
	font-size: small;
	text-align: center;
    padding : 3px;
}

table.dashboard {border-collapse:collapse;}
table.dashboard td, table.dashboard th {border:2px solid black;
						  text-align:center;
						  padding : 10px;
			 			 }
table.dashboard tr:nth-child(odd){background-color:lightgray;}
table.dashboard tr:nth-child(even){}
table.dashboard tr:nth-child(1){background-color:#93e2ff;}

table.all_bids {border-collapse:collapse}
table.all_bids th,tr,td{border:2px solid black;
                        font-size:medium;}

table.bid {border-collapse: collapse; }
table.bid td,tr,th {border:2px solid black;
font-size:small}
table.bid tr:nth-child(odd){background-color:lightgray;}
table.bid tr:nth-child(even){}
table.bid tr:nth-child(1){background-color: #93e2ff;}
table.bid tr:nth-child(2){background-color: #93e2ff;}


table.mgf {border-collapse: collapse; }
table.mgf td,tr {border:2px solid black;
                font-size:small}
table.overall_market_report {border-collapse:collapse}
table.overall_market_report td,tr,th {border:2px solid black;
text-align:center;
font-size:small;}

table.overall_market_report tr:nth-child(odd){background-color:lightgray;}
table.overall_market_report tr:nth-child(even){}


/* from listusers
table {border-collapse: collapse }
table,td,tr,th { border: 2px solid black; }
*/
table.bts {border-collapse: collapse; }
table.bts td,tr,th {border:2px solid black;}


table.market_conditions {border-collapse: collapse; }
table.market_conditions td,tr,th {border:2px solid black;}

table.market_conditions tr:nth-child(odd){background-color:lightgray;}
table.market_conditions tr:nth-child(even){}

table.bid {border-collapse: collapse; }
table.bid td,tr,th {border:2px solid black;
                    font-size:small}

table.individual_market_report {border-collapse: collapse; }
table.individual_market_report td,tr,th {border:2px solid black;
       font-size:small;
        text-align:center;
        }
table.individual_market_report tr:nth-child(odd){background-color:lightgray;}
table.individual_market_report tr:nth-child(even){}


table.changeuserpassword {border:0px solid black; border-collapse: collapse;}
table.changeuserpassword tr,td,th {border:0px solid red;
						  text-align:right;
						  padding : 1px;
			 			 }

.individual_generator_fleet_description{
    border-collapse: collapse;
    }

.individual_generator_fleet_description td,tr,th{
    border:2px solid black;
    font-size:small;
    text-align:center;
}
table.individual_generator_fleet_description tr:nth-child(odd){background-color:lightgray;}
table.individual_generator_fleet_description tr:nth-child(even){}
table.individual_generator_fleet_description tr:nth-child(1){background-color:#93e2ff;}

.error_message_set{
    /*background-color: #ff80ff;*/
    background-color: #ffcccc;
    color:red;
    font-size:large
    border-style: solid;
    border: 1px solid red;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;

/*    width:940px; */
    }

.non_error_message_set{
/*    background-color: #8080ff; */
    background-color: #e6f2ff;
    background-color: #b3d9ff;
    color:blue;
    font-size:large
    border-style: solid;
    border: 1px solid blue;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;

/*    width:940px;*/
    }

.marketconfsep_done{
    border-style : solid;
    border-radius: 50px;
    padding: 10px 10px 10px 20px;
    background-color: LightGreen;
 /*   font-size: small; */
 }

.marketconfsep_notdone{
    border-style : solid;
    border-radius: 50px;
    padding: 10px 10px 10px 20px;
    background-color: LightCoral;
/*       font-size: small; */

 }

.marketconfsep_neutral{
    border-style : solid;
    border-radius: 50px;
    padding: 10px 10px 10px 20px;
    background-color: white;
/*       font-size: small; */

 }
.marketconfsep_hdr{
text-align: center;
}